{% load static %}
{% load cloudinary %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Portfolio - Home</title>

    <link rel="stylesheet" href="{% if debug %}{% static 'css/style.css' %}{% else %}{% static 'css/style.min.css' %}{% endif %}">
</head>
<body>
<h1 class="text-center text-amber-600 font-extrabold text-5xl m-24 p-12 bg-slate-300 rounded-xl">Welcome to my Portfolio Website, dear Guest!{{ fullname }}</h1>
<h3>debug = {{ debug }}</h3>
</body>
</html>