{% extends 'base.html' %}


{% load static %}
{#{% load cloudinary %}#}


{% block title %}Home{% endblock title %}


{% block content %}

    <h1 class="text-center text-amber-600 font-extrabold text-5xl m-24 p-12 bg-slate-300 rounded-xl">Welcome to my
        Portfolio
        Website, dear Guest!{{ fullname }}</h1>
    <h3>{% if feature_HeroButton %}<span style="color: green">Herobutton is enabled</span>{% else %}
        <span style="color:red">Herobutton is DISabled</span>{% endif %}</h3>

    context Run-Mode: {{ DJANGO_RUN_MODE }}

{% endblock content %}